.notFound_Container {
  display: flex;
  flex-direction: column;
  margin: 22px 6%;
  color: var(--red);
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 288px;
  flex-direction: column;

  @media screen and (min-width: 200px) and (max-width: 1200px) {
    margin: 0;
  }
}

.notFound_Number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 158px;
  margin: 0;
  font-weight: bold;
}

.notFound_Text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 36px;
  margin: 0 11%;
  font-weight: bold;

  @media screen and (min-width: 200px) and (max-width: 1200px) {
    font-size: 18px;
    margin: 0;
  }
}

.notFound_LinkHome {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: var(--red);
  font-size: 14px;
  font-weight: 500px;
  margin-top: 9rem;

  @media screen and (min-width: 200px) and (max-width: 1200px) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    text-decoration-line: underline;
  }
}
